<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mglangelo.com.growlapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyActivity2"
            android:label="@string/title_activity_my_activity2" >
        </activity>
        <activity
            android:name=".MyActivity3"
            android:label="@string/title_activity_my_activity3" >
        </activity>
        <activity
            android:name=".MyActivity4"
            android:label="@string/title_activity_my_activity4" >
        </activity>
        <activity
            android:name=".MyActivity5"
            android:label="@string/title_activity_my_activity5" >
        </activity>
        <activity
            android:name=".MyActivity6"
            android:label="@string/title_activity_my_activity6" >
        </activity>
        <activity
            android:name=".MyActivity7"
            android:label="@string/title_activity_my_activity7" >
        </activity>
        <activity
            android:name=".MyActivity8"
            android:label="@string/title_activity_my_activity8" >
        </activity>
        <activity
            android:name=".MyActivity9"
            android:label="@string/title_activity_my_activity9" >
        </activity>
        <activity
            android:name=".MyActivity10"
            android:label="@string/title_activity_my_activity10" >
        </activity>
        <activity
            android:name=".MyActivity11"
            android:label="@string/title_activity_my_activity11" >
        </activity>
        <activity
            android:name=".MyActivity12"
            android:label="@string/title_activity_my_activity12" >
        </activity>
        <activity
            android:name=".MyActivity13"
            android:label="@string/title_activity_my_activity13" >
        </activity>
    </application>

</manifest>
